<h1>Welcome to The Crypt</h1>
<div id="views">
    <div id="place">{{> place}}</div>
    <div id="player">{{> player}}</div>
</div>

<div id="messages"></div>

<div id="controls">
    <input type="text" id="txtCommand" />
    <button id="btnCommand">Submit</button>
</div>