<div id="container">
    <div id="views">
        <div id="login">
            <form action="/authenticate" method="post">
                Your name: <input type="text" name="userName"><br>
                Password: <input type="password" name="password"><br>
                <button type="submit">Submit</button>
            </form>
            <div>
                <span class="failed-login-message {{failedAuthMessageClass}}">User Name or Password are incorrect. Please try again.</span>
            </div>
        </div>
        <div id="register"></div>
    </div>
</div>

{{#section 'clientSideScripts'}}
{{/section}}