<div id="container" style="background-image: url('/img/home.jpg')">
    <h1>You are entering The Crypt</h1>

    <div id="views">
        <div id="adventures" style="background-image: url('/img/homeTiles.jpg')">{{> adventureList}}</div>
        <div id="selected-adventure" style="background-image: url('/img/homeTiles.jpg')"></div>
    </div>
</div>

{{#section 'clientSideScripts'}}
        <script src="/views/newAdventure.js"></script>
        <script src="/newAdventure/newAdventureController.js"></script>
        <script src="/newAdventureInit.js"></script>
{{/section}}