<h3>Choose your adventure. If you dare.</h3>
<ol id="adventureList">
    {{#each adventures}}
        <li><input type="radio" name="adventure" value="{{adventureId}}">{{adventure}}</li>
    {{/each}}
</ol>      