<h3>{{gameContext.place.title}}</h3>
<p>{{gameContext.place.description}}</p>
    
<div class="placePanel">
    <h4>Items</h4>
    <ol id="placeItems">
        {{#each gameContext.place.items}}
            <li>{{item}}</li>
        {{/each}}
    </ol>
</div>
    
<div class="placePanel">
    <h4>Exits</h4>
    <ol id="placeExits">
        {{#each gameContext.place.exits}}
            <li>{{direction}}</li>
        {{/each}}
    </ol>
</div>