# ignore packages installed by npm 
node_modules 

# put any other files you don't want to check in here, 
# such as .DS_Store (OSX), *. bak, etc.

#logging files
*.log

#The handlebars.min.js file gets copied in the postinstall script
handlebars.min.js

#Making sure the coverage folder is not added
coverage/

#Temp files for experimenting how it looks
*old.*