<!doctype html>
<html style="background-image: url('img/{{backgroundImage}}.jpg')">
    <head>
        <title>The Crypt</title>
        <link rel="stylesheet" href="/css/thecrypt.css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>